* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron";
}

.navbar-container {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
img[src="/assets/Logo.png"] {
  width: 125px;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 20px;
  font-weight: 500;
}
.button-group {
  display: flex;
  flex-direction: row;
}
.nav-button {
  width: 150px;
  padding: 2px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  color: #343333;
  background-color: transparent;
  border: 3px solid #343333;
  border-radius: 10px;
  letter-spacing: 0.5px;
  transition: 0.2s;
  cursor: pointer;
}
.nav-button:hover {
  background-color: #000;
  color: #fff;
}
.container {
  max-width: 1240px;
  margin: auto;
}
.search-icon {
  width: 50px;
}
.list-item:first-child {
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}
@media (max-width: 1242px) {
  .navbar-container {
    padding: 15px 30px;
  }
  .list {
    font-size: 15px;
    font-weight: 500;
  }
  img[src="/assets/Logo.png"] {
    width: 110px;
  }
  .list-item:first-child {
    font-size: 15px;
  }
  .nav-button {
    width: 100px;
    font-weight: 500;
    font-size: 15px;
  }
  .search-icon svg {
    width: 20px;
  }
}
@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  .list {
    display: none;
  }
}

@media (max-width: 568px) {
}
img[src="/assets/squares.png"] {
  width: 28%;
  height: auto;
  float: left;
  position: relative;
  top: 250px;
  left: 60px;
}

img[src="/assets/Image.png"] {
  width: 25%;
  height: auto;
  float: left;
  position: absolute;
  left: 100px;
  top: 150px;
}
.hero-container-right {
  max-width: 70%px;
  margin: auto;
  float: right;
  text-align: center;
  margin-top: 100px;
}
h1 {
  font-size: 55px;
  margin-top: 50px;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  width: 600px;
  color: #00000091;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
}

.button-email {
  padding: 2px 25px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  color: #00000091;
  background-color: transparent;
}
.button-join {
  padding: 2px;
  font-size: 18px;
  font-weight: 600;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  border: 2px solid #00000091;
}
.contact-heading {
  font-family: "poppins", sans-serif;
  color: #00000091;
  font-size: 18px;
  font-weight: 600;
  margin-top: 70px;
  margin-bottom: 20px;
}

.icons span img {
  width: 30px;
  margin-left: 15px;
}

img[src="/assets/globe.png"] {
  width: 60px;
  position: absolute;
  right: 45%;
}
.start {
  position: absolute;
  right: 200px;
  top: 150px;
}

.start2 {
  position: absolute;
  left: 600px;
  bottom: 150px;
}

.start img {
  width: 60px;
}

.start2 img {
  width: 50px;
}

@media (max-width: 1242px) {
  img[src="/assets/squares.png"] {
    width: 23%;
    height: auto;
    top: 200px;
    left: 100px;
  }

  img[src="/assets/Image.png"] {
    width: 25%;
    height: auto;
    left: 30px;
    top: 150px;
  }
  h1 {
    font-size: 45px;
  }
  p {
    margin-left: 50px;
    width: 480px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .hero-container-right {
    margin-right: 50px;
  }
  .start {
    position: absolute;
    right: 200px;
    top: 110px;
  }
  .start2 {
    position: absolute;
    left: 500px;
    bottom: 150px;
  }
  .contact-heading {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .button-email {
    padding: 2px 15px;
    font-size: 15px;
    font-weight: 500;
  }
  .button-join {
    padding: 2px;
    font-size: 15px;
    font-weight: 500;
  }
  .contact-heading {
    margin-top: 30px;
    margin-top: 30px;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 40px;
  }
  p {
    margin-left: 50px;
    width: 400px;
  }
  .icons span img {
    width: 25px;
    margin-left: 10px;
  }
  .start img {
    width: 50px;
  }

  .start2 img {
    width: 40px;
  }
  .start2 {
    position: absolute;
    left: 400px;
    bottom: 150px;
  }
  img[src="/assets/squares.png"] {
    width: 25%;
    height: auto;
    top: 200px;
    left: 100px;
  }

  img[src="/assets/Image.png"] {
    width: 27%;
    height: auto;
    left: 30px;
    top: 170px;
  }
  img[src="/assets/globe.png"] {
    width: 50px;
  }
}
@media (max-width: 768px) {
  .list {
    display: hidden;
  }
  img[src="/assets/squares.png"] {
    width: 40%;
    height: auto;
    left: 38%;
    top: 220px;
    display: block;
  }

  img[src="/assets/Image.png"] {
    width: 50%;
    height: auto;
    left: 20%;
    top: 100px;
    display: block;
  }
  .hero-container-right {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    padding-bottom: 50px;
  }
  h1 {
    margin-left: 60px;
  }
  .globe {
    display: none;
  }
  .start {
    display: none;
  }
  .start2 {
    display: none;
  }
}

@media (max-width: 568px) {
  img[src="/assets/squares.png"] {
    width: 40%;
    height: auto;
    left: 38%;
    top: 170px;
    display: block;
  }
  h1 {
    font-size: 32px;
  }
  p {
    font-size: 13px;
  }
  .button-email {
    font-size: 13px;
    margin-left: 40px;
    border-radius: 5px;
  }
  .button-join {
    font-size: 13px;
    border-radius: 5px;
  }
  .contact-heading {
    font-size: 15px;
    margin-left: 50px;
  }
  .icons {
    margin-left: 50px;
  }
}
